body {
    background-color: white;
    color: black;
}

header {
    background-color: #4CAF50;
}

footer {
    background-color: #4CAF50;
}

.adopcion-list {
    list-style-type: none;
    padding: 0;
}

.adopcion-item.block {
    display: block;
    margin: 10px 0;
}

.adopcion-item.inline-block {
    display: inline-block;
    margin: 10px 10px 10px 0;
}

.adopcion-item.inline {
    display: inline;
    margin: 10px 10px 10px 0;
}
